.header{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    
    .left a{
        width: 22px;
        height: 12px;
        margin-right: 15px;
        border: .5px solid aliceblue;
        border-radius: 6px;
    }
}